name: release-please

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

  release:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/setup-just@v2

      - name: Build
        run: just build

      - name: Create Zip
        run: just zip

      - name: Upload Zip
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release upload ${{ needs.release-please.outputs.tag_name }} catppuccin*.flex --clobber
